.BookListPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.BookList {
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 80%;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    min-height: 100%;
}

.ListOptions {
    margin-top: 20px;
    width: 100%;
}

.return-button {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 80%;
}